
body{
    padding: 0px;
    margin: 0px;
    background-color: #151c47;
    overflow-x: hidden;
}

header{
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 50px;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

header .logo img{
    padding-left: 35px;
    height: 75px;
    
}


header .logo h1 {
    color: white;
    font-family: cursive;
    display: inline-block;
    position: absolute;
    margin-bottom: 0.5rem;
}
header nav {
    float: right;
    margin: -107px;
    padding-right: 60px;
    display: inline;


}
header nav ul {
    list-style: none;
    margin: 6px;
    padding: 0;
    display: flex;
    color: white;
    font-family: cursive;
}

header nav ul li {
    list-style: none;
    font-size: 1.0rem;
    margin: 1rem;
}
header nav li input {
    padding: 5px;
    border-radius: 8px 8px 8px 8px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 15rem;
    height: 1.5rem;
    border: 0;
    background-color: #151c47;
}


.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: flex;
    flex-direction: row;
    margin: 3rem 18rem 0rem 3rem;
    justify-content: space-around;
    flex-wrap: wrap;
}
content {
    width: 75%;
    margin-right: 4rem;
}

#slider {
    position: relative;
    width: 100%;
    height: 35vh;
    min-height: 10rem
rem
;
}

#img-1 {
    height: 75%;
    top: 13%;
    right: 37%;
}

#img-2 {
    left: 45%;
    z-index: 1;
    box-shadow: 1px 4px 8px 1px black;
}

#img-3 {
    height: 75%;
    left: 75%;
    top: 13%;
}
.slider-img {
    height: 100%;
    width: 50%;
    position: absolute;
    transition: 0.4s;
}


    .text {
        margin-bottom: 1.5rem;
        font-size: 2.0rem;
        color: orangered;
        font-weight: 600;
        font-family: monospace;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    #latest-release{
        height: 25rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: flex-start;
        flex-wrap: inherit;
        flex-direction: column;
        margin-top: 1rem
    rem
    ;
    }

    .latest-releases-songs {
        display: flex;
        flex-direction: row;
        width: 45%;
        height: 70%;
    }

    .latest-releases-songs .title {
        margin: 1rem;
        line-height: 1.5rem;
    }
    .latest-releases-songs .time {
        color: white;
        margin-left: auto;
    }
    .latest-releases-songs img {
        height: 100%;
        width: 100%;
    }

    #American-Bull-img{
        height: 100%;
        width: 100%;
    }

    .play-btn {
        display: none;
        position: absolute;
        color: black;
        left: 45%;
        top: 45%;
        font-size: 1.5rem;
        text-align: center;
    }

    

    .sub-text {
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: monospace;
    }

    .burger{
        position: absolute;
        cursor: pointer;
        right: 3%;
        top: 29px;
        display: none;
        

    }
    .line{
        background-color: white;
        height: 6px;
        width: 33px;
        margin: 2px;
    }

    @media only screen and (max-width: 1040px){
        header nav ul{
            flex-direction: column;
            background-color: black;
            align-items: center;
        }
        .burger{
            display: block;
        }
        .h-nav-resp{
            height: 22px;
        }
        .v-class-resp{
            visibility: hidden;
        }
        header .logo img{
            padding: 0px;
            height: 55px;
        }

        .header{
            padding:-1px;
        }
    }
    
